/* Adding margin-top to container in home page */
#container-home {
    margin-top: 100px;
    margin-bottom: 2em;
}

/* Adding padding-top to container in portfolio page */
#container-portfolio {
    padding-top: 100px;
}

/* Increase font size for h3's */
h3 {
    font-size: 2em;
}

/* Increase font size for h1's */
h1 {
    font-size: 3em;
}

/* Increase font size for p's in home page */
.p-home {
    font-size: 1.1em;
}

/* Style links for portfolio, email, location, phone number, and resume in home page */
#portfolio, #email, #location, #phone, #resume {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Add hover effect to links for portfolio, email, location, phone number, and resume in home page */
#portfolio:hover, #email:hover, #location:hover, #phone:hover, #resume:hover {
    color: rgb(0, 0, 0, 0.7);
}

/* Style p in portfolio page */
#p-portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style h1 in contact page */
#h1-contact {
    margin-bottom: 50px;
}