/* Styling container in home page */
#container-home {
    margin-top: 100px;
}

/* Styling container in portfolio page */
#container-portfolio {
    padding-top: 100px;
}


#h1-about, .p-index {
    
}

h3 {
    font-size: 2em;
}

h1 {
    font-size: 3em;
}

.p-index {
    font-size: 1.1em;
}

#portfolio, #email, #location, #phone, #resume {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#portfolio:hover, #email:hover, #location:hover, #phone:hover, #resume:hover {
    color: rgb(0, 0, 0, 0.7);
}

.icons {
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
}

#github {
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}

#p-portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
}

#h1-contact {
    margin-bottom: 50px;
}