#container-index {
    padding-top: 170px;
}

#container-portfolio {
    padding-top: 100px;
}

h3, .p-index {
    text-align: center;
}

h3 {
    font-size: 2em;
}

h1 {
    font-size: 3em;
}

.p-index, #p-portfolio {
    font-size: 1.1em;
}

#portfolio, #email, #location, #phone, #resume {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#portfolio:hover, #email:hover, #location:hover, #phone:hover, #resume:hover {
    color: rgb(0, 0, 0, 0.7);
}

.icons {
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
}

#github {
    color: black;
}

#p-portfolio {
    margin-bottom: 50px;
}

#h1-contact {
    margin-bottom: 50px;
}